@charset "utf-8";
/* CSS Document */

table {
	border: 1px solid #666;
	width: 80%;
	margin: 20px 0 20px 0 !important;
}

th,td {
	padding: 2px 4px 2px 4px !important;
	text-align: left;
	vertical-align: top;
}

thead tr {
	background-color: #999999;
}

th.sorted {
	background-color: #CCCCCC;
}

th a,th a:visited {
	color: black;
}

th a:hover {
	text-decoration: underline;
	color: black;
}

th.sorted a,th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}

th.sortable a {
	background: url(../img/arrow_off.png) no-repeat;
}

th.order1 a {
	background: url(../img/arrow_down.png) no-repeat;
}

th.order2 a {
	background: url(../img/arrow_up.png) no-repeat;
}

tr.odd {
	background-color: #fff
}

tr.tableRowEven,tr.even {
	background-color: #CCCCCC
}

.group-1 {
    font-weight:bold;
    padding-bottom:10px;
    border-top:1px solid black;
}
.group-2 {
    font-style:italic;
    border-top: 1px solid black;

}

.grouped-table tr.even {
    background-color: #fff;
}
.grouped-table tr.odd {
    background-color: #fff;
}
* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=password] {
	width: 30%;
	padding: 10px;
	margin: 5px 0 12px 0;
	display: inline-block;
    border: 1px black;
    outline: 1px black;
    background-color: #ddd;
}

input[type=text]:focus, input[type=password]:focus {
	background-color: #ddd;

}

hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

button:hover {
	opacity:1;
}



/* Add padding to container elements */
.container {
	padding: 16px;
}

/* Clear floats */
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

